/* Citations: A lot of this stuff comes from W3 */	
/* For the background */
body, html {
	height: 100%
}
:root {
	--HeaderFontSize: 30px;
	--Paddingleftamount: 30px;
	background-image: url("https://i.imgur.com/aIjcT7d.jpg");
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;
	display: block;
    background-position: center top;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}
/* Main Title */
#PortalMainTitle {
	text-align: center;
	text-decoration: none;
	color: black;
}
ul {
    list-style-type: none;
    margin: 0;
	display: block;
	padding: 20px;
	padding-top: 10px;
	background-image: url("https://goo.gl/images/DiV56g");
}
li {
    float: left;
	width: 25%
}
/* Code for top navigation bar. Again credit to W3 and Mr. Degano. I left the code for the padding because it took me a while to do. */
#Thomas-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	/* padding-right: 300px; */
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#ThomasUI-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	/* padding-right: 300px; */
	/* padding-left: var(--Paddingleftamount); */
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#Thomas-Less-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	font-size: var(--HeaderFontSize);
	background-color: blue;
	/*padding-right: var(--Paddingleftamount);*/
}
/* GE and GE2 control the Portal background image. GE2 exits for legacy reasons. */
.GE {
	background-image: url("https://goo.gl/images/DiV56g");
}
.GE2 {
	background-image: url("https://goo.gl/images/DiV56g");
}
p {
	margin: 12px;
}
/* My Final Website page, image of test chamber 17. Large center image. */
.Munchkin {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
/* Background My Final Website page, black Portal image. */
.HeroOfTimess {
	background-image: url("http://kb4images.com/images/portal-wallpaper/36003455-portal-wallpaper.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
/* Make Text White, undone in multiple later instructions */
p {
	color: white;
}
 #colorblack {
	color: black;
}
/* My Final Website GIFS */
.GIFA {
	display: block;
    width: 30%;
	padding: 0px;
	margin: 0px;
}
/* Text Formating */
.BIGQUOTE {
	font-size: 40px;
	text-align: center;
}
/* Another background image for My Final Website */
.HeroOfTimess2 {
	background-image: url("http://wallpaperswide.com/download/portal_7-wallpaper-1920x1200.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
/* Text Formating */
.SmallText{
	text-align: center;
}
/* My Final Webpage, make GIFS and images foat right. */
.OTHERSIDE {
	float: right;
	padding: 0px;
	margin: 0px;
}
/* Text Formating for a lot of text */
#MOODLELOYOLACA {
	color: black;
	line-height: 50px;
}
/* The next bit is copy pasted from W3 */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Lets make stuff go to the left */
.ToTheLeft {
	float: left;
}
.POKECOW {
	float:right;
	height: 315px;
}
/* Images that are part of GUIDEPAGE1 */
.POKECOW2 {
	float:right;
	width: 270px;
}
/* Text Formating with an awesome name */
.SECRETSAMMYQUANTEMSPAMMYSPENCERWHENCERMRTENSERLENSTERWHENSTER {
	color:black;
}
/* Image of orange box in ABOUTPAGE */
.SamuelBeckett {
	width: 15%;
	margin-left: auto;
    margin-right: auto;
	display: block;
}
/* Images and GIFS in PLOTPAGE1 */
.SamuelBeckett-AllThatFall {
	width: 30%;
	margin-left: auto;
    margin-right: auto;
	display: block;
}
