/* For the background */
body, html {
	height: 100%
}
:root {
	--HeaderFontSize: 30px;
	--Paddingleftamount: 30px;
	background-image: url("https://i.imgur.com/aIjcT7d.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	display: block;
    background-position: center top;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

#PortalMainTitle {
	text-align: center;
	text-decoration: none;
	color: black;
}
ul {
    list-style-type: none;
    margin: 0;
	display: block;
	padding: 20px;
	padding-top: 10px;
	background-image: url("https://goo.gl/images/DiV56g");
}
li {
    float: left;
}

#Thomas-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	padding-right: 300px;
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#ThomasUI-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	padding-right: 300px;
	padding-left: var(--Paddingleftamount);
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#Thomas-Less-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	font-size: var(--HeaderFontSize);
	background-color: blue;
	padding-right: var(--Paddingleftamount);
}
.GE {
	background-image: url("https://goo.gl/images/DiV56g");
}
.GE2 {
	background-image: url("https://goo.gl/images/DiV56g");
	background-repeat: repeat-y;
}
p {
	margin: 12px;
}
.Munchkin {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
.HeroOfTimess {
	background-image: url("http://kb4images.com/images/portal-wallpaper/36003455-portal-wallpaper.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
p {
	color: white;
}
 #colorblack {
	color: black;
}
.GIFA {
	display: block;
    width: 30%;
	padding: 0px;
	margin: 0px;
}
.BIGQUOTE {
	font-size: 40px;
	text-align: center;
}
.HeroOfTimess2 {
	background-image: url("http://wallpaperswide.com/download/portal_7-wallpaper-1920x1200.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
.SmallText{
	text-align: center;
}
.OTHERSIDE {
	float: right;
	padding: 0px;
	margin: 0px;
}
#MOODLELOYOLACA {
	color: black;
	line-height: 50px;
}




/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.ToTheLeft {
	float: left;
}
.POKECOW {
	float:right;
	height: 315px;
}