/* For the background */
body, html {
	height: 100%
}
:root {
	--HeaderFontSize: 30px;
	--Paddingleftamount: 30px;
	background-image: url("https://i.imgur.com/aIjcT7d.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	display: block;
    background-position: center top;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

#PortalMainTitle {
	text-align: center;
	text-decoration: none;
	color: black;
}
ul {
    list-style-type: none;
    margin: 0;
	display: block;
	padding: 20px;
	padding-top: 10px;
	background-image: url("https://goo.gl/images/DiV56g");
}
li {
    float: left;
}

#Thomas-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	padding-right: 300px;
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#ThomasUI-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	padding-right: 300px;
	padding-left: var(--Paddingleftamount);
	font-size: var(--HeaderFontSize);
	background-image: url("https://goo.gl/images/DiV56g");
	background-color: blue;
	
}
#Thomas-Less-Jefferson {
    display: inline;
	display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	font-size: var(--HeaderFontSize);
	background-color: blue;
	padding-right: var(--Paddingleftamount);
}
.GE {
	background-image: url("https://goo.gl/images/DiV56g");
}
p {
	margin: 12px;
}
.Munchkin {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
h1 {
	font-size: 60px;
	margin-bottom: 5px;
}
.HeroOfTimess {
	background-image: url("http://kb4images.com/images/portal-wallpaper/36003455-portal-wallpaper.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
p {
	color: white;
}
 #colorblack {
	color: black;
}
.GIFA {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.BIGQUOTE {
	font-size: 40px;
	text-align: center;
}
.HeroOfTimess2 {
	background-image: url("http://wallpaperswide.com/download/portal_7-wallpaper-1920x1200.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
	padding: 0px;
	margin: 0px;
}
.SmallText{
	text-align: center;
}