/* h1 controls the CSS for the main "My Schedule" title */
/*This controls the page's main title */
h1 {
	font-family: Impact;
	font-size: 100px;
	text-align: center;
	color: white;
	position: relative;
	top: -500px;
	margin-bottom: 0px;

}
/*This is the CSS for the table */
table, td, tr {
	border: 2px solid blue;
	position: static;
}
.Spencer-Howard {
	font-weight: bold;
}
/*This controls the big picture of the school */
.Undertale1 {
	width: 100%;
	margin: auto;
	margin-bottom: 0px;
	position: relative;
}
/*This controls the school emblem. */
.Undertale2 {
	width: 250px;
	margin: 0px;
	position: fixed;
	bottom: 350px;
	left: 1050px;
	z-index: 10;
}
/*This is the CSS for the picture of Sans. */
.Undertale3 {
	display: block;
	width: 200px;
	margin: auto;
	z-index: 11;
}
/*This controls the scroll down text */
h3 {
	text-align: center;
	font-family: cinzel;
	position: fixed;
	z-index: 9;
	bottom: 300px;
	left: 1130px;
}
body {
	background-color: white;
}
/*This is the CSS for the searchbar */
form {
	text-align: center;
}
/* This next section controls the color the classes become when the mouse is passed over them */
.Math:hover{
	background-color: black;
}
.French:hover{
	background-color: blue;
}
.Speech:hover{
	background-color: brown;
}
.Theater-Arts:hover{
	background-color: green;
}
.Computer-Programing:hover{
	background-color: yellow;
}
.English:hover{
	background-color: red;
}
.Advisors:hover{
	background-color: violet;
}
.Physical-Education:hover{
	background-color: gray;
}
.Religion:hover{
	background-color: purple;
}
.History:hover{
	background-color: orange;
}
.Science:hover{
	background-color: pink;
}
/*This is the CSS for the button */
button {
	background-color: yellow;
	display:block;
    margin:0px auto;
}